body {
  width: 375px;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
}
#backgroundImg {
  width: 100%;
  min-width: 325px;
  height: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;

  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 445px) calc(50% - 475px),
    calc(50% - -400px) calc(50% - -475px);
}
#profileCard {
  align-self: center;
  margin: auto;
}
#profileOwner {
  width: 325px;
  height: 285px;
  border-radius: 20px 20px 0 0;
  margin: auto;
  background-color: white;
  background-image: url("../images/bg-pattern-card.svg");
  background-position: center top;
  background-repeat: no-repeat;
}
#profileStats {
  width: 325px;
  height: 88px;
  border-top: 1px solid hsl(0, 0%, 59%);
  border-radius: 0 0 20px 20px;
  margin: auto;
  background-color: white;
}
#imgDiv {
  padding-top: 87px;
}
#profilePicture {
  width: 96px;
  height: 96px;
  display: block;
  border: 5px solid white;
  border-radius: 53px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
#userName {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
#userAge {
  font-weight: 700;
  color: hsl(0, 0%, 59%);
}
#user,
#city {
  text-align: center;
}
#user {
  padding-top: 24px;
}
#city {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
#statTable {
  width: 100%;
  margin-top: 27px;
}
th,
td {
  width: 33.3%;
  text-align: center;
}
td {
  padding-top: 4px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 376px) {
  body {
    width: 100%;
  }
  #backgroundImg {
    background-position: calc(50% - 520px) calc(50% - 375px),
      calc(50% - -460px) calc(50% - -500px);
  }
  #profileOwner {
    width: 350px;
    background-size: 351px;
  }
  #profileStats {
    width: 350px;
  }
}
